obj/Debug/netcoreapp2.1/project.razor.json
obj/project.assets.json
obj/Debug/netcoreapp2.1/a2klab.assets.cache
obj/Debug/netcoreapp2.1/a2klab.csprojAssemblyReference.cache
appsettings.json
appsettings.Development.json
